In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('IRIS.csv')
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
data['Species'] = data['Species'].replace({'Iris-setosa':1, 'Iris-versicolor':2, 'Iris-virginica':3})

In [7]:
data

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        1
1      2            4.9           3.0            1.4           0.2        1
2      3            4.7           3.2            1.3           0.2        1
3      4            4.6           3.1            1.5           0.2        1
4      5            5.0           3.6            1.4           0.2        1
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        3
146  147            6.3           2.5            5.0           1.9        3
147  148            6.5           3.0            5.2           2.0        3
148  149            6.2           3.4            5.4           2.3        3
149  150            5.9           3.0            5.1           1.8        3

[150 rows x 6 columns]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(data[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']],data['Species'], test_size=0.3)

In [10]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
9              4.9           3.1            1.5           0.1
30             4.8           3.1            1.6           0.2
3              4.6           3.1            1.5           0.2
62             6.0           2.2            4.0           1.0
142            5.8           2.7            5.1           1.9
..             ...           ...            ...           ...
69             5.6           2.5            3.9           1.1
140            6.7           3.1            5.6           2.4
81             5.5           2.4            3.7           1.0
58             6.6           2.9            4.6           1.3
33             5.5           4.2            1.4           0.2

[105 rows x 4 columns]

In [11]:
y_train

9      1
30     1
3      1
62     2
142    3
      ..
69     2
140    3
81     2
58     2
33     1
Name: Species, Length: 105, dtype: int64

In [12]:
from sklearn import linear_model
mymodel = linear_model.LogisticRegression(max_iter=120)
mymodel.fit(X_train,y_train)

LogisticRegression(max_iter=120)

In [13]:
mymodel.predict(X_test)

array([3, 3, 2, 2, 3, 2, 3, 3, 1, 2, 3, 3, 3, 2, 1, 3, 3, 1, 3, 1, 2, 2,
       3, 1, 2, 1, 1, 2, 1, 3, 1, 1, 2, 2, 2, 3, 2, 3, 3, 1, 3, 2, 2, 2,
       2], dtype=int64)

In [14]:
X_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
149            5.9           3.0            5.1           1.8
137            6.4           3.1            5.5           1.8
54             6.5           2.8            4.6           1.5
53             5.5           2.3            4.0           1.3
146            6.3           2.5            5.0           1.9
67             5.8           2.7            4.1           1.0
103            6.3           2.9            5.6           1.8
105            7.6           3.0            6.6           2.1
19             5.1           3.8            1.5           0.3
79             5.7           2.6            3.5           1.0
127            6.1           3.0            4.9           1.8
110            6.5           3.2            5.1           2.0
130            7.4           2.8            6.1           1.9
86             6.7           3.1            4.7           1.5
22             4.6           3.6            1.0           0.2
147            6.5           3.0            5.2           2.0
104            6.5           3.0            5.8           2.2
2              4.7           3.2            1.3           0.2
145            6.7           3.0            5.2           2.3
34             4.9           3.1            1.5           0.1
94             5.6           2.7            4.2           1.3
60             5.0           2.0            3.5           1.0
131            7.9           3.8            6.4           2.0
38             4.4           3.0            1.3           0.2
93             5.0           2.3            3.3           1.0
45             4.8           3.0            1.4           0.3
1              4.9           3.0            1.4           0.2
106            4.9           2.5            4.5           1.7
29             4.7           3.2            1.6           0.2
83             6.0           2.7            5.1           1.6
49             5.0           3.3            1.4           0.2
39             5.1           3.4            1.5           0.2
98             5.1           2.5            3.0           1.1
97             6.2           2.9            4.3           1.3
92             5.8           2.6            4.0           1.2
115            6.4           3.2            5.3           2.3
80             5.5           2.4            3.8           1.1
132            6.4           2.8            5.6           2.2
101            5.8           2.7            5.1           1.9
12             4.8           3.0            1.4           0.1
77             6.7           3.0            5.0           1.7
74             6.4           2.9            4.3           1.3
138            6.0           3.0            4.8           1.8
59             5.2           2.7            3.9           1.4
71             6.1           2.8            4.0           1.3

In [15]:
mymodel.score(X_test, y_test)

0.9111111111111111

In [16]:
predicted_output = mymodel.predict(X_test)
predicted_output

array([3, 3, 2, 2, 3, 2, 3, 3, 1, 2, 3, 3, 3, 2, 1, 3, 3, 1, 3, 1, 2, 2,
       3, 1, 2, 1, 1, 2, 1, 3, 1, 1, 2, 2, 2, 3, 2, 3, 3, 1, 3, 2, 2, 2,
       2], dtype=int64)